.navbar__btn button {
    margin-left: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    background: rgb(227, 200, 189);
    border: none;
    border-radius: 50px;
    cursor: pointer;

}

.redes {
    background-color: rgb(227, 200, 189);
    display: inline-block;
    text-align: center;

}

#mi-boton:hover {
    background-color: lightcoral;
}

.nav:hover {
    background-color: rgb(227, 200, 189);
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.enviar {
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(227, 200, 189);
}

.card-body {
    height: 20rem;
    background-image: linear-gradient(rgb(227, 200, 189), lightcoral);
}

#formulario {
    padding-top: 5%;
}

.gift {
    color: crimson;
    font-size: x-large;
}